# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl
terraform/lambda.zip

# Python
__pycache__/
*.pyc
.venv/

# Secrets
.env
*.pem
*.key

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
