# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
terraform/lambda.zip

# Python
__pycache__/
*.pyc
.venv/

# Secrets
.env
*.pem
*.key

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.tfplan
response.json
*-response.json
*.bak
